h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 1.1;
}
h1,h2{
  font-size: 30px;
  //color: $primary;
  font-weight: 500;
}
.font12{
  font-size: 12px !important;
}
.font13{
  font-size: 13px !important;
}
.font18{
  font-size: 18px !important;
}
.font22{
  font-size: 22px !important;
}
.font24{
  font-size: 24px !important;
}

.textGray{
  color: #3b434c;
}
.lineHeight15{
  line-height: 1.5;
}
.bold500{
  font-weight: 500;
}
.bold600{
  font-weight: 600 !important;
}
.fancyBorderTitle{
  text-align: center;
  .title{
    display: inline-block;
    font-weight: 600;
    padding: 15px 22px;
    position: relative;
    z-index: 1;

    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $primary;
      z-index: -1;
    }

    &:after{
      left: 5px;
      top: 2px;
    }
  }

  &.white{
    .title{
        &:before,
        &:after{
          border-color: #fff;
        }
    }
  }
}